@charset "UTF-8";

/*
    id = #      só pode um elemento
    class = .   pode vários elementos
*/

body {
    background-color: #9CE6AB;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #309945;
}

h1#principal {
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2 {
    color: #3A553F;
}

.basico {
    color: #3c805e
}

.intermediario {
    color: #80733c;
}

.avancado {
    color: #803c3c;
}

.destaque  {
    background-color: #c5c56070;
}